In [9]:
import oracledb
import cx_Oracle
from datetime import datetime, timedelta

In [32]:
try:
    cx_Oracle.init_oracle_client(lib_dir=r"F:\ruslan\dev\oracle\instantclient_19_9")
except:
    pass

In [ ]:
conn_nwp = oracledb.connect(user="nwp", password="modeli", dsn="192.168.211.62/serv")
cursor_nwp = conn_nwp.cursor()

cursor_nwp.execute("""
/* SELECT to_char(DATAS, 'YYYY-MM-DD'), ADVANCE_TIME,  TEMP */
SELECT DATAS, ADVANCE_TIME,  TEMP
FROM NWP.GROUND_DATA
WHERE CITY_ID = 936 
      AND model_id = 5
      AND ADVANCE_TIME between 0 and 48
      AND datas >= '01-12-2023'
      AND to_char(datas, 'HH24') = '00'
ORDER BY datas, advance_time
""")
date = None
forecast_arr = []
f_row = [] 
for c in cursor_nwp:
    # Нова дата - создаем новую строку данных
    if date != c[0]:
        # Если дата пройдена, присоединить строку данных f_row к массиву forecast_arr
        if date:
            forecast_arr.append(f_row) 
        # Инициализируем следующую дату и строку данных
        date = c[0]       
        f_row = [None for _ in range(50)]
        f_row[0] = c[0] # Дату c[0] записать в позицию 0
    # В позицию списка, равную заблаговременности c[1] записать температуру c[2]
    f_row[c[1] + 1] = c[2]
# Присоединить последнюю строку данных f_row к массиву forecast_arr
forecast_arr.append(f_row)        
print(*forecast_arr, sep='\n')
conn_nwp.close()

In [37]:
conn_gts = cx_Oracle.connect(user="cligts", password="belorgmc", dsn="192.168.211.173/clidb")
cursor_gts = conn_gts.cursor()

cursor_gts.execute(
"""
SELECT DATE_OBS, TEMPDB
FROM gts.synop
WHERE date_obs >= '25-12-2023' AND station_id = '26850'
""")

gts_rows = cursor_gts.fetchall()
for c in gts_rows:
    print(c)

conn_gts.close()

(datetime.datetime(2023, 12, 25, 0, 0), -2.1)
(datetime.datetime(2023, 12, 25, 3, 0), -2.0)
(datetime.datetime(2023, 12, 25, 6, 0), 0.0)
(datetime.datetime(2023, 12, 25, 9, 0), 3.6)
(datetime.datetime(2023, 12, 25, 12, 0), 4.9)
(datetime.datetime(2023, 12, 25, 15, 0), 3.8)
(datetime.datetime(2023, 12, 25, 18, 0), 4.2)
(datetime.datetime(2023, 12, 25, 21, 0), 3.7)
(datetime.datetime(2023, 12, 26, 0, 0), 3.1)
(datetime.datetime(2023, 12, 26, 3, 0), 3.1)
(datetime.datetime(2023, 12, 26, 6, 0), 2.2)
(datetime.datetime(2023, 12, 26, 9, 0), 2.8)
(datetime.datetime(2023, 12, 26, 12, 0), 2.4)
(datetime.datetime(2023, 12, 26, 15, 0), 0.6)
(datetime.datetime(2023, 12, 26, 18, 0), 2.3)
(datetime.datetime(2023, 12, 26, 21, 0), 4.5)
(datetime.datetime(2023, 12, 27, 0, 0), 3.3)
(datetime.datetime(2023, 12, 27, 3, 0), 2.1)
(datetime.datetime(2023, 12, 27, 6, 0), 1.4)
(datetime.datetime(2023, 12, 27, 9, 0), 1.4)
(datetime.datetime(2023, 12, 27, 12, 0), 1.2)
(datetime.datetime(2023, 12, 27, 15, 0), 1.2)
(datetime.datetime(2023, 12, 27, 18, 0), 1.4)
(datetime.datetime(2023, 12, 27, 21, 0), 0.9)
(datetime.datetime(2023, 12, 28, 0, 0), 0.7)
(datetime.datetime(2023, 12, 28, 3, 0), -0.2)
(datetime.datetime(2023, 12, 28, 6, 0), -0.9)
(datetime.datetime(2023, 12, 28, 9, 0), 0.1)
(datetime.datetime(2023, 12, 28, 12, 0), 0.7)

In [ ]:
# Формирование y - значений фактической температуры, соответствующих каждой дате на 48 часов вперед
td48 = timedelta(hours=48)
td03 = timedelta(hours=03)
# Поиск каждой совпадающей строки по дате и сроку 00
ind = 0
start = 0
for f in forecast_arr:
    date_nwp = f[0]
    for i, g in enumerate(gts_rows[start:]):
        if g[0] == f[0]: # Строка найдена
            break
    # Инициализировать строку данных для фактической температуры
    g_row = [None for _ in range(18)]
    g_row[0] = g[0]

In [14]:
d1 = datetime(2023,12,26)
d1

datetime.datetime(2023, 12, 26, 0, 0)

In [15]:
td = timedelta(hours=48)
d2 = d1 + td
d2

datetime.datetime(2023, 12, 28, 0, 0)

In [31]:
t1 = datetime(2023,12,26)
t2 = datetime(2023,12,26)
t3 = t1 + td
print(str(t3))

2023-12-28 00:00:00